[user]
  name = "yourname"
  email = youremail

[github]
  user = yourgithubacct

[core]
  editor = vim
  excludesfile = "~/.gitignore"

[alias]
  st = status
  br = branch
  ci = commit
  co = checkout
  p = format-patch HEAD^..HEAD --stdout

[mergetool]
  keepBackup = true

[difftool]
  prompt = false

[diff]
  tool = vimdiff

[diff "exif"]
  textconv = exiftool

[rerere]
  enabled = 1

[format]
  pretty = oneline

[color]
  ui = true

[push]
  default = simple
