priority -50

###########################################################################
#                          fstab UltiSnips                                #
###########################################################################

snippet ntfs "ntfs mount" b!
UUID=${1:uuid} /mnt/${2:media} ntfs-3g rw,auto,nls=utf8,fmask=0111,dmask=0000 0 0
endsnippet

# vim:ft=snippets:
