priority -50

###########################################################################
#                          Samba UltiSnips                                #
###########################################################################

snippet share "samba share" b!
[${1:Name}]
	path = ${2:/mnt/$1}
	browsable = yes
	guest ok = yes
	create mask = 0755
endsnippet

# vim:ft=snippets:
