priority -50

###########################################################################
#                          XHTML UltiSnips                                #
###########################################################################

extends html

# vim:ft=snippets:
