priority -50

###########################################################################
#                       HTML-Jinja UltiSnips                              #
###########################################################################

extends html, jinja2

# vim:ft=snippets:
