snippet s "string" b!
"${1:key}": "${2:value}",
endsnippet

snippet n "number" b!
"${1:key}": ${2:value},
endsnippet

snippet a "array" b!
[
	${1:${VISUAL}}
],
endsnippet

snippet o "object" b!
{
	${1:${VISUAL}}
},
endsnippet
