priority -50

###########################################################################
#                         LHaskell UltiSnips                              #
###########################################################################

extends haskell
