priority -50

###########################################################################
#                         LHaskell UltiSnips                              #
###########################################################################

extends haskell

# vim:ft=snippets:
