priority -49

###########################################################################
# 												 Pandoc UltiSnips															  #
###########################################################################

extends markdown
