priority -49

###########################################################################
#                          Pandoc UltiSnips                               #
###########################################################################

extends markdown

# vim:ft=snippets:
