priority -50

###########################################################################
# 												 Rnoweb UltiSnips															  #
###########################################################################

extends tex, r
