priority -50

###########################################################################
#                          Rnoweb UltiSnips                               #
###########################################################################

extends tex, r

# vim:ft=snippets:
