priority -50

###########################################################################
#                           Zsh UltiSnips                                 #
###########################################################################

extends sh

priority -49

snippet #! "shebang" b
#!/bin/zsh
endsnippet

snippet !env "#!/usr/bin/env (!env)" b
#!/usr/bin/env zsh
endsnippet

# vim:ft=snippets:
